.container {
    margin-left: 8rem !important;
}

.form-profile {
    margin-right: 4rem;
}

.avatar {
    width: 100px !important;
    height: 100px !important;
}

.edit-ph {
    margin-left: auto !important;
    padding-left: 20px;
    margin-right: auto !important;
    cursor: pointer;
    font-size: 14px;
}