
.titulo-servicio {
    /* margin-left: 8rem; */
    margin-bottom: 2rem !important;
}

.select-form {
    margin-right: 1.5rem;
}

.btn-submit {
    margin-right: 1rem;
    background-color: #FA676B;
    border: 1px solid #FA676B;
    padding: .5rem;
    border-radius: 50px;
    color: white;
}

.listaServicios {
    width: 700px;
}

.itemList span {
    margin-left: 60px;
}

.itemList:hover {
    border-bottom: 2px solid #FA676B;
}

.div-medio {
    width: 250px !important;
}

.icon {
    cursor: pointer;
}

.span-icons {
    display: flex;
    align-items: flex-end;
}

.nombreServicio {
    font-size: 20px;
    font-weight: bold;
}

.lista-empleados {
    overflow-y: auto;
    max-height: 150px;
}

.priceInput {
    position: relative;
}

.priceInput input {
    padding-left: 18px;
}

.priceInput:before {
    position: absolute;
    top: 10px;
    content: "€";
    left: 8px;
}