.container-calendar {
    width: 85%;
    margin: 2rem auto;
}

.btn-agregar {
    margin-right: 1rem;
    background-color: transparent !important;
    border: 2px solid #FA676B !important;
    padding: 8px 10px !important;
    border-radius: 15px !important;
    color: #FA676B !important;

}  